<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Formulario productos</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
	crossorigin="anonymous">
</head>
<body class="bg-secondary">
	<form th:action="@{/guardar}" th:object="${producto}" method="post" class="needs-validation" novalidate="novalidate">
		<section class="d-flex mt-3 justify-content-center">
			<div class="card col-sm-6 p-3">
				<div class="mb-2" align="center">
					<h2>Registrar Productos</h2>
				</div>
				<div class="mb-2">
					<div class="mb-2">
						<label for="inputCodigo">Código</label> <input
							th:field="*{codigo}" required="required" class="form-control"
							id="inputCodigo" placeholder="P000">
						<div class="valid-feedback">
							Correcto
						</div>
						<div class="invalid-feedback">
							Es necesario poner un Código
						</div>
					</div>
					<div class="mb-2">
						<label for="inputNombre">Nombre del producto</label> <input
							th:field="*{description}" type="text" class="form-control"
							id="inputNombre" pattern="[A-Za-z. ]+" title="Solo letras"
							required="required" placeholder="Nombre del producto">
						<div class="valid-feedback">
							Correcto
						</div>
						<div class="invalid-feedback">
							Es necesario poner un Nombre
						</div>
					</div>
					<div class="mb-2">
						<label for="inputStock">Stock</label> <input th:field="*{stock}"
							pattern="[0-9]+" title="Solo números" required="required"
							class="form-control" id="inputStock" placeholder="0">
						<div class="valid-feedback">
							Correcto
						</div>
						<div class="invalid-feedback">
							Es necesario poner un Stock
						</div>
					</div>
					<div class="mb-2">
						<label for="inputPrecio">Precio</label> <input
							th:field="*{precio}" pattern="[0-9]+" title="Solo números"
							required="required" class="form-control" id="inputPrecio"
							placeholder="0.00">
						<div class="valid-feedback">
							Correcto
						</div>
						<div class="invalid-feedback">
							Es necesario poner un Precioo
						</div>
					</div>		  
					<div class="mb-2">		 
						<button class="btn btn-danger">Registrar</button>
					</div>		 
				</div>
			</div>
		</section>
	</form>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
		crossorigin="anonymous"></script>
		
	<script>
	// Example starter JavaScript for disabling form submissions if there are invalid fields
		(() => {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  const forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.from(forms).forEach(form => {
    form.addEventListener('submit', event => {
      if (!form.checkValidity()) {
        event.preventDefault()
        event.stopPropagation()
      }

      form.classList.add('was-validated')
    }, false)
  })
})()
	</script>
</body>
</html>